.stat-details {
  border-spacing: 0;
  border-collapse: collapse;
}

.stat-details th {
  text-align: left;
  padding-right: 15px;
}

.stat-details td {
  text-align: right;
}

.stat-details td:first-child {
  text-align: left;
  padding-right: 15px;
}

.percent {
  padding-left: 10px;
  font-style: italic;
}

.total th, .total td {
  border-top: 1px solid black;
}

.limit-warn {
  background-image: url('https://www.final-fantasy.ch/images/warn.png');
  background-repeat: no-repeat;
  padding-left: 20px;
}

td.limit-warn {
  background-position: center left;
}

p.limit-warn {
  background-position: top left;
}
