<h2 mat-dialog-title>{{'unit.details.stats.popup.title' | translate}}</h2>
<mat-dialog-content>
  <table class="stat-details">
    <tr>
      <th>{{'unit.details.stats.popup.unit' | translate}}</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{{'unit.details.stats.popup.base' | translate}}</td>
      <td>{{getBaseValue() | integer}}</td>
      <td></td>
    </tr>
    <tr>
      <td>{{'unit.details.stats.popup.passive' | translate}}</td>
      <td>{{getPassiveValue() | integer}}</td>
      <td class="percent">({{getPassivePercent()}}%)</td>
    </tr>
    <tr *ngIf="doublehanding">
      <td>{{'unit.details.stats.popup.dh' | translate}}</td>
      <td>{{getDhValue() | integer}}</td>
      <td class="percent">({{getDhPercent()}}%)</td>
    </tr>
    <tr *ngIf="dualwielding">
      <td>{{'unit.details.stats.popup.dw' | translate}}</td>
      <td>{{getDwValue() | integer}}</td>
      <td class="percent">({{getDwPercent()}}%)</td>
    </tr>
    <tr *ngIf="getEsperPercentValue()">
      <td>{{'unit.details.stats.popup.esperPercent' | translate}}</td>
      <td>{{getEsperPercentValue() | integer}}</td>
      <td class="percent">({{getEsperPercent()}}%)</td>
    </tr>
    <tr>
      <th>{{'unit.details.stats.popup.equipment' | translate}}</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{{'unit.details.stats.popup.base' | translate}}</td>
      <td>{{getEquipmentValue() | integer}}</td>
      <td></td>
    </tr>
    <tr>
      <td>{{'unit.details.stats.popup.passive' | translate}}</td>
      <td>{{getEquipmentPassiveValue() | integer}}</td>
      <td class="percent"
          [class.limit-warn]="isEquipmentPassiveLimitExceeded()">({{getEquipmentPassivePercent()}}%)
      </td>
    </tr>
    <tr *ngIf="doublehanding">
      <td>{{'unit.details.stats.popup.dh' | translate}}</td>
      <td>{{getEquipmentDhValue() | integer}}</td>
      <td class="percent" [class.limit-warn]="isEquipmentDhLimitExceeded()">({{getEquipmentDhPercent()}}%)</td>
    </tr>
    <tr *ngIf="dualwielding">
      <td>{{'unit.details.stats.popup.dw' | translate}}</td>
      <td>{{getEquipmentDwValue() | integer}}</td>
      <td class="percent" [class.limit-warn]="isEquipmentDwLimitExceeded()">({{getEquipmentDwPercent()}}%)</td>
    </tr>
    <tr *ngIf="getEquipmentEsperPercentValue()">
      <td>{{'unit.details.stats.popup.esperPercent' | translate}}</td>
      <td>{{getEquipmentEsperPercentValue() | integer}}</td>
      <td class="percent">({{getEquipmentEsperPercent()}}%)</td>
    </tr>
    <tr>
      <th>{{'unit.details.stats.popup.esper' | translate}}</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{{getEsperName()}}</td>
      <td>{{getEsperValue() | integer}}</td>
      <td></td>
    </tr>
    <tr>
      <td>{{'unit.details.stats.popup.passive' | translate}}</td>
      <td>{{getEsperPassiveValue() | integer}}</td>
      <td class="percent">({{getEsperPassivePercent()}}%)</td>
    </tr>
    <tr *ngIf="getEsperEsperPercentValue()">
      <td>{{'unit.details.stats.popup.esperPercent' | translate}}</td>
      <td>{{getEsperEsperPercentValue() | integer}}</td>
      <td class="percent">({{getEsperEsperPercent()}}%)</td>
    </tr>
    <tr class="total">
      <th>{{'unit.details.stats.popup.total' | translate}}</th>
      <td>{{getTotalValue() | integer}}</td>
      <td></td>
    </tr>
  </table>
  <p *ngIf="isEquipmentPassiveLimitExceeded() || isEquipmentDhLimitExceeded() || isEquipmentDwLimitExceeded()"
     class="limit-warn">
    {{'unit.details.stats.popup.limitWarn' | translate}}</p>
</mat-dialog-content>
