.total th, .total td {
  border-top: 1px solid white;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td.result-header {
  font-weight: bold;
  text-align: left;
  padding-right: 15px;
}

td {
  text-align: right;
}

p {
  font-size: 12px;
  margin-bottom: 0;
}
