<table role="presentation">
  <tr>
    <td class="result-header">{{'calculation.defensive.physicalEhp' | translate}}</td>
    <td>{{result.physicalResult | integer}}
      <img class="inline-icon details-opener" src="assets/icons/grey/question.png" alt="?"
           (click)="displayPhysicalEhpCalculation()">
    </td>
  </tr>
  <tr>
    <td class="result-header">{{'calculation.defensive.magicalEhp' | translate}}</td>
    <td>{{result.magicalResult | integer}}
      <img class="inline-icon details-opener" src="assets/icons/grey/question.png" alt="?"
           (click)="displayMagicalEhpCalculation()">
    </td>
  </tr>
  <tr class="total">
    <td class="result-header">{{'calculation.defensive.ehp' | translate}}</td>
    <td>{{result.result | integer}}
      <img class="inline-icon details-opener" src="assets/icons/grey/question.png" alt="?"
           (click)="displayEhpCalculation()">
    </td>
  </tr>
</table>
<p>{{'calculation.defensive.ehpResultExplanations' | translate}}</p>
