<h1>{{'calculation.offensive.skillHitsPower' | translate}}</h1>
<table>
  <tr>
    <td>{{'calculation.offensive.sparkChain' | translate}}</td>
    <td>
      <mat-checkbox [(ngModel)]="algorithm.isSparkChain" (change)="calculateBuild()"></mat-checkbox>
    </td>
  </tr>
  <tr>
    <td>{{'calculation.offensive.comboIncrement' | translate}}</td>
    <td>{{result.combosIncrement | number:'1.1-1'}}</td>
  </tr>
  <tr>
    <td>{{'calculation.display.hits' | translate}}</td>
    <td>{{result.hitsPower.length}}</td>
  </tr>
</table>
<p><span *ngFor="let hitPower of result.hitsPower">{{hitPower | integer}}% </span></p>
<div class="total">
  <h2>{{'calculation.offensive.turnPower' | translate}}</h2>
  <p>{{result.power | integer}}%</p>
</div>

<h1>{{'calculation.display.damageCalculation' | translate}}</h1>
<table>
  <tr>
    <td>{{'mag' | translate}}</td>
    <td></td>
    <td>{{result.mag | integer}}</td>
  </tr>
  <tr>
    <td>{{'calculation.display.supportBuff' | translate}}</td>
    <td>
      <mat-checkbox [(ngModel)]="algorithm.isSupportBuffing" (change)="calculateBuild()"></mat-checkbox>
    </td>
    <td>{{algorithm.supportBuff | integer}}%</td>
  </tr>
  <tr>
    <td>{{'calculation.display.buffedMag' | translate}}</td>
    <td></td>
    <td>{{result.buffedMag | integer}}</td>
  </tr>
  <tr>
    <td>{{'calculation.display.killer' | translate}}</td>
    <td>
      <mat-checkbox [(ngModel)]="algorithm.isKillerActive" (change)="calculateBuild()"></mat-checkbox>
    </td>
    <td>{{result.killerPassive | integer}}%</td>
  </tr>
  <tr>
    <td>{{'calculation.display.supportBreak' | translate}}</td>
    <td>
      <mat-checkbox [(ngModel)]="algorithm.isSupportBreakingResistances" (change)="calculateBuild()"></mat-checkbox>
    </td>
    <td>{{algorithm.supportResistsBreak[0] | integer}}%</td>
  </tr>
  <tr>
    <td>{{'calculation.display.resistances' | translate}}</td>
    <td>
      <div *ngFor="let element of result.elements" class="resist-icon">
        <img src="/assets/resists/resist_{{element}}.png">
      </div>
    </td>
    <td>
      <div *ngFor="let element of result.elements" class="resist-label">
        {{result.resistances[element-1] | integer}}%
      </div>
    </td>
  </tr>
  <tr>
    <td>{{'calculation.display.opponentSpr' | translate}}</td>
    <td></td>
    <td>{{algorithm.opponentSpr | integer}}</td>
  </tr>
</table>

<h2>{{'calculation.offensive.baseDamages' | translate}}</h2>
<p>
  {{result.buffedMag | integer}}² * {{result.power | integer}}% * 2
</p>
<p>= {{result.magicalDamages | integer}}</p>

<h2 *ngIf="result.killerPassive">{{'calculation.display.killerDamages' | translate}}</h2>
<p *ngIf="result.killerPassive">
  {{result.magicalDamages | integer}} * (1+{{result.killerPassive}}%/10)
</p>
<p *ngIf="result.killerPassive">= {{result.magicalKillerDamages | integer}}</p>

<h2 *ngIf="result.averageElementalResistance">{{'calculation.display.elementalResistances' | translate}}</h2>
<p *ngIf="result.averageElementalResistance">
  {{result.magicalKillerDamages | integer}} * (1-({{result.averageElementalResistance}}%))
</p>
<p *ngIf="result.averageElementalResistance">= {{result.magicalElementalDamages | integer}}</p>

<h2>{{'calculation.display.variances' | translate}}</h2>
<p>{{result.magicalElementalDamages | integer}} * {{result.finalVariance}}% / {{algorithm.opponentSpr}}</p>
<p>= <strong>{{result.magicalResult | integer}}</strong></p>
