div.copy-button {
  display: inline-block;
  width: 70px;
}

button.mat-raised-button {
  padding: 0 8px;
  min-width: auto;
}

mat-form-field.mat-form-field {
  width: calc(100% - 80px);
}

input.mat-input-element {
  font-size: 12px;
  color: white;
}
