div.flexcontainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

h2.mat-dialog-title {
  margin-bottom: 0;
}

.unit {
  width: 100px;
}

.unit-icon {
  display: block;
  margin: auto;
  max-width: 100px;
  cursor: pointer;
}
