<h1>{{'calculation.defensive.physicalEhpCalculation' | translate}}</h1>
<table>
  <tr>
    <td>{{'hp' | translate}}</td>
    <td></td>
    <td>{{result.hp | integer}}</td>
  </tr>
  <tr>
    <td>{{'def' | translate}}</td>
    <td></td>
    <td>{{result.def | integer}}</td>
  </tr>
  <tr>
    <td>{{'calculation.display.supportBuff' | translate}}</td>
    <td>
      <mat-checkbox [(ngModel)]="algorithm.isSupportBuffing" (change)="calculateBuild()"></mat-checkbox>
    </td>
    <td>{{algorithm.supportBuff}}%</td>
  </tr>
  <tr>
    <td>{{'calculation.display.buffed_def' | translate}}</td>
    <td></td>
    <td>{{result.buffedDef | integer}}</td>
  </tr>
  <tr>
    <td>{{'calculation.defensive.supportMitigation' | translate}}</td>
    <td>
      <mat-checkbox [(ngModel)]="algorithm.isSupportMitigating" (change)="calculateBuild()"></mat-checkbox>
    </td>
    <td>{{algorithm.supportMitigation}}%</td>
  </tr>
  <tr *ngIf="result.mitigation">
    <td>{{'calculation.defensive.nativeMitigation' | translate}}</td>
    <td></td>
    <td>{{result.mitigation}}%</td>
  </tr>
  <tr *ngIf="result.physicalCover">
    <td>{{'calculation.defensive.cover' | translate}}</td>
    <td>
      <mat-checkbox [(ngModel)]="algorithm.isPhysicalCovering" (change)="switchCover()"></mat-checkbox>
    </td>
    <td>{{result.physicalCover}}%</td>
  </tr>
  <tr *ngIf="result.physicalResistance">
    <td>{{'calculation.defensive.physicalResistance' | translate}}</td>
    <td></td>
    <td>{{result.physicalResistance}}%</td>
  </tr>
</table>
<h2>{{'calculation.defensive.physicalEhp' | translate}}</h2>
<p>{{result.hp | integer}} * {{result.buffedDef}}
  <span *ngIf="result.effectiveMitigation"> / (1-{{result.effectiveMitigation}}%)</span>
  <span *ngIf="result.effectivePhysicalCover"> / (1-{{result.effectivePhysicalCover}}%)</span>
  <span *ngIf="result.physicalResistance"> / (1-{{result.physicalResistance}}%)</span>
</p>
<p>= <strong>{{result.physicalEffectiveHp | integer}}</strong></p>
