<h1>{{'calculation.defensive.physicalEhpCalculation' | translate}}</h1>
<table>
  <tr>
    <td>{{'hp' | translate}}</td>
    <td>{{result.hp | number:'1.0-0'}}</td>
  </tr>
  <tr>
    <td>{{'def' | translate}}</td>
    <td>{{result.def | number:'1.0-0'}}</td>
  </tr>
  <tr>
    <td>{{'calculation.display.supportBuff' | translate}}</td>
    <td>
      <mat-checkbox [(ngModel)]="algorithm.isSupportBuffing" (change)="calculateBuild()">
        {{algorithm.supportBuff}}%
      </mat-checkbox>
    </td>
  </tr>
  <tr>
    <td>{{'calculation.defensive.buffedDef' | translate}}</td>
    <td>{{result.buffedDef | number:'1.0-0'}}</td>
  </tr>
  <tr>
    <td>{{'calculation.defensive.supportMitigation' | translate}}</td>
    <td>
      <mat-checkbox [(ngModel)]="algorithm.isSupportMitigating" (change)="calculateBuild()">
        {{algorithm.supportMitigation}}%
      </mat-checkbox>
    </td>
  </tr>
</table>
<h2>{{'calculation.defensive.physicalEhp' | translate}}</h2>
<p>{{result.hp | number:'1.0-0'}} * {{result.buffedDef}}
  <span *ngIf="algorithm.isSupportMitigating"> * (1 - {{algorithm.supportMitigation}}%)</span>
</p>
<p>= <strong>{{result.physicalEffectiveHp | number:'1.0-0'}}</strong></p>
