<h2 mat-dialog-title>{{'calculation.defensive.physicalEhpCalculation' | translate}}</h2>
<mat-dialog-content>
  <table>
    <tr>
      <td>{{'hp' | translate}}</td>
      <td></td>
      <td>{{result.hp | integer}}</td>
    </tr>
    <tr>
      <td>{{'def' | translate}}</td>
      <td></td>
      <td>{{result.def | integer}}</td>
    </tr>
    <tr>
      <td>{{'calculation.display.supportBuff' | translate}}</td>
      <td>
        <mat-checkbox [(ngModel)]="algorithm.isSupportBuffing" (change)="calculateBuild()"></mat-checkbox>
      </td>
      <td>
        <select [(ngModel)]="algorithm.supportBuff" (change)="calculateBuild()">
          <option value="40">40%</option>
          <option value="60">60%</option>
          <option value="80">80%</option>
          <option value="90">90%</option>
          <option value="100">100%</option>
          <option value="110">110%</option>
          <option value="120">120%</option>
          <option value="130">130%</option>
        </select>
      </td>
    </tr>
    <tr *ngIf="result.selfDefBuff">
      <td>{{'calculation.display.selfBuff' | translate}}</td>
      <td></td>
      <td>{{result.selfDefBuff | integer}}%</td>
    </tr>
    <tr>
      <td>{{'calculation.display.buffed_def' | translate}}</td>
      <td></td>
      <td>{{result.buffedDef | integer}}</td>
    </tr>
    <tr>
      <td>{{'calculation.defensive.supportMitigation' | translate}}</td>
      <td>
        <mat-checkbox [(ngModel)]="algorithm.isSupportMitigating" (change)="calculateBuild()"></mat-checkbox>
      </td>
      <td>
        <select [(ngModel)]="algorithm.supportMitigation" (change)="calculateBuild()">
          <option value="10">10%</option>
          <option value="15">15%</option>
          <option value="20">20%</option>
          <option value="25">25%</option>
          <option value="30">30%</option>
          <option value="40">40%</option>
        </select>
      </td>
    </tr>
    <tr *ngIf="result.mitigation">
      <td>{{'calculation.defensive.nativeMitigation' | translate}}</td>
      <td></td>
      <td>{{result.mitigation}}%</td>
    </tr>
    <tr>
      <td>{{'calculation.defensive.supportPhysicalMitigation' | translate}}</td>
      <td>
        <mat-checkbox [(ngModel)]="algorithm.isSupportPhysicalMitigating" (change)="calculateBuild()"></mat-checkbox>
      </td>
      <td>
        <select [(ngModel)]="algorithm.supportPhysicalMitigation" (change)="calculateBuild()">
          <option value="10">10%</option>
          <option value="15">15%</option>
          <option value="20">20%</option>
          <option value="25">25%</option>
          <option value="30">30%</option>
          <option value="40">40%</option>
        </select>
      </td>
    </tr>
    <tr *ngIf="result.physicalMitigation">
      <td>{{'calculation.defensive.nativePhysicalMitigation' | translate}}</td>
      <td></td>
      <td>{{result.physicalMitigation}}%</td>
    </tr>
    <tr *ngIf="result.physicalCover">
      <td>{{'calculation.defensive.cover' | translate}}</td>
      <td>
        <mat-checkbox [(ngModel)]="algorithm.isPhysicalCovering" (change)="switchCover()"></mat-checkbox>
      </td>
      <td>{{result.physicalCover}}%</td>
    </tr>
    <tr *ngIf="result.physicalResistance">
      <td>{{'calculation.defensive.physicalResistance' | translate}}</td>
      <td></td>
      <td>{{result.physicalResistance}}%</td>
    </tr>
  </table>
  <h3>{{'calculation.defensive.physicalEhp' | translate}}</h3>
  <p>{{result.hp | integer}} * {{result.buffedDef | integer}}
    <span *ngIf="result.effectiveMitigation"> / (1-{{result.effectiveMitigation}}%)</span>
    <span *ngIf="result.effectivePhysicalMitigation"> / (1-{{result.effectivePhysicalMitigation}}%)</span>
    <span *ngIf="result.effectivePhysicalCover"> / (1-{{result.effectivePhysicalCover}}%)</span>
    <span *ngIf="result.physicalResistance"> / (1-{{result.physicalResistance}}%)</span>
  </p>
  <p>= <strong>{{result.physicalEffectiveHp | integer}}</strong></p>
</mat-dialog-content>
