div.flexcontainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

mat-card-title.unit-details-mct {
  border-bottom: 0;
}

.unit-details-mcst {
  border-top: 1px solid #5d756d;
  border-bottom: 2px solid #aeaaac;
  color: #fefefe;
  font-weight: bold;
  background: #27463b; /* Old browsers */
  background: -moz-linear-gradient(top, #27463b 0%, #0d140d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #27463b 0%, #0d140d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #27463b 0%, #0d140d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.unit-details-stats {
  color: white;
}

.unit-details-stats th {
  text-align: left;
  padding-right: 10px;
  font-style: italic;
}
