<mat-card *ngIf="unit">
  <mat-card-title class="unit-details-mct">{{'unit.details.number' | translate}} {{unit.id}}
    <img src="/Ffexvius/images/star.png" *ngFor="let r of ranks" alt="★">
  </mat-card-title>
  <mat-card-subtitle class="unit-details-mcst">{{unit.name}}</mat-card-subtitle>
  <mat-card-content class="unit-details-mcc">
    <div *ngIf="unit.builds.length > 1">
      <mat-form-field>
        <mat-select [(ngModel)]="selectedBuildId" placeholder="{{'unit.details.multipleBuildsToSelect' | translate}}">
          <mat-option *ngFor="let build of unit.builds" [value]="build.id" (click)="changeBuild(build)">
            {{build.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flexcontainer">
      <img [src]="unit.icon" alt="{{unit.name}}">
      <table class="unit-details-stats" role="presentation">
        <tr>
          <td class="stats-header">{{'hp' | translate}}</td>
          <td>{{unit.stats.hp.total | integer}}
            <img class="inline-icon details-opener" src="assets/icons/grey/question.png" alt="?"
                 (click)="displayStatDetails('hp')"></td>
          <td class="stats-header">{{'mp' | translate}}</td>
          <td>{{unit.stats.mp.total | integer}}
            <img class="inline-icon details-opener" src="assets/icons/grey/question.png" alt="?"
                 (click)="displayStatDetails('mp')"></td>
        </tr>
        <tr>
          <td class="stats-header">{{'atk' | translate}}</td>
          <td>{{unit.stats.atk.total | integer}}
            <img class="inline-icon details-opener" src="assets/icons/grey/question.png" alt="?"
                 (click)="displayStatDetails('atk')"></td>
          <td class="stats-header">{{'def' | translate}}</td>
          <td>{{unit.stats.def.total | integer}}
            <img class="inline-icon details-opener" src="assets/icons/grey/question.png" alt="?"
                 (click)="displayStatDetails('def')"></td>
        </tr>
        <tr>
          <td class="stats-header">{{'mag' | translate}}</td>
          <td>{{unit.stats.mag.total | integer}}
            <img class="inline-icon details-opener" src="assets/icons/grey/question.png" alt="?"
                 (click)="displayStatDetails('mag')"></td>
          <td class="stats-header">{{'spr' | translate}}</td>
          <td>{{unit.stats.spr.total | integer}}
            <img class="inline-icon details-opener" src="assets/icons/grey/question.png" alt="?"
                 (click)="displayStatDetails('spr')"></td>
        </tr>
      </table>
      <app-unit-traits [passives]="unit.conditional_passives"></app-unit-traits>
      <div class="esper">
        <img [src]="unit.selectedBuild.esper.icon" [alt]="getEsperName()" (click)="openEsperSelectionPane()">
        <div class="esper-info">
          <h3>{{getEsperName()}}</h3>
          <p [innerHTML]="getEsperBuildName(unit.selectedBuild.esper)"></p>
          <p class="ffbe-equip-link">
            <a *ngIf="unit.selectedBuild.esper.build" target="_blank" href="{{unit.selectedBuild.esper.build}}">
              <img src="assets/equipments/7.png" alt="ffbe-equip logo">
              {{'esper.selection.viewInFfbeEquip' | translate}}
            </a>
          </p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
