<mat-card *ngIf="unit">
  <mat-card-title class="unit-details-mct">{{'unit.details.number' | translate}} {{unit.id}}
    <img src="/Ffexvius/images/star.png" *ngFor="let r of ranks">
  </mat-card-title>
  <mat-card-subtitle class="unit-details-mcst">{{unit.name}}</mat-card-subtitle>
  <mat-card-content class="unit-details-mcc">
    <div class="flexcontainer">
      <img [src]="unit.icon">
      <div>
        <table class="unit-details-stats">
          <tr>
            <th>{{'unit.details.stats.hp' | translate}}</th>
            <td>{{unit.stats.hp}}</td>
            <th>{{'unit.details.stats.mp' | translate}}</th>
            <td>{{unit.stats.mp}}</td>
          </tr>
          <tr>
            <th>{{'unit.details.stats.atk' | translate}}</th>
            <td>{{unit.stats.atk}}</td>
            <th>{{'unit.details.stats.mag' | translate}}</th>
            <td>{{unit.stats.mag}}</td>
          </tr>
          <tr>
            <th>{{'unit.details.stats.def' | translate}}</th>
            <td>{{unit.stats.def}}</td>
            <th>{{'unit.details.stats.spr' | translate}}</th>
            <td>{{unit.stats.spr}}</td>
          </tr>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
