<h2><img src="assets/equipments/{{equipment.category}}.png" *ngIf="isItemCategoryDisplayed()">{{equipment.name}}</h2>
<p *ngIf="equipment.elements && equipment.elements.length > 0" class="element">
  <span *ngFor="let element of equipment.elements"><img src="assets/resists/resist_{{element}}.png"></span>
</p>
<p *ngIf="equipment.hp">{{equipment.hp}} {{'hp' | translate}}</p>
<p *ngIf="equipment.hp_percent">{{equipment.hp_percent}}% {{'hp' | translate}}</p>
<p *ngIf="equipment.hp_dh" [class.inactive]="!isDhActive()">
  {{equipment.hp_dh}}% {{'hp' | translate}} {{'dh' | translate}}
</p>
<p *ngIf="equipment.hp_tdh" [class.inactive]="!isTdhActive()">
  {{equipment.hp_tdh}}% {{'hp' | translate}} {{'tdh' | translate}}
</p>
<p *ngIf="equipment.hp_dw" [class.inactive]="!isDualWielding()">
  {{equipment.hp_dw}}% {{'hp' | translate}} {{'tdw' | translate}}
</p>
<p *ngIf="equipment.mp">{{equipment.mp}} {{'mp' | translate}}</p>
<p *ngIf="equipment.mp_percent">{{equipment.mp_percent}}% {{'mp' | translate}}</p>
<p *ngIf="equipment.mp_dh" [class.inactive]="!isDhActive()">
  {{equipment.mp_dh}}% {{'mp' | translate}} {{'dh' | translate}}
</p>
<p *ngIf="equipment.mp_tdh" [class.inactive]="!isTdhActive()">
  {{equipment.mp_tdh}}% {{'mp' | translate}} {{'tdh' | translate}}
</p>
<p *ngIf="equipment.mp_dw" [class.inactive]="!isDualWielding()">
  {{equipment.mp_dw}}% {{'mp' | translate}} {{'tdw' | translate}}
</p>
<p *ngIf="equipment.atk">{{equipment.atk}} {{'atk' | translate}}</p>
<p *ngIf="equipment.atk_percent">{{equipment.atk_percent}}% {{'atk' | translate}}</p>
<p *ngIf="equipment.atk_dh" [class.inactive]="!isDhActive()">
  {{equipment.atk_dh}}% {{'atk' | translate}} {{'dh' | translate}}
</p>
<p *ngIf="equipment.atk_tdh" [class.inactive]="!isTdhActive()">
  {{equipment.atk_tdh}}% {{'atk' | translate}} {{'tdh' | translate}}
</p>
<p *ngIf="equipment.atk_dw" [class.inactive]="!isDualWielding()">
  {{equipment.atk_dw}}% {{'atk' | translate}} {{'tdw' | translate}}
</p>
<p *ngIf="equipment.mag">{{equipment.mag}} {{'mag' | translate}}</p>
<p *ngIf="equipment.mag_percent">{{equipment.mag_percent}}% {{'mag' | translate}}</p>
<p *ngIf="equipment.mag_dh" [class.inactive]="!isDhActive()">
  {{equipment.mag_dh}}% {{'mag' | translate}} {{'dh' | translate}}
</p>
<p *ngIf="equipment.mag_tdh" [class.inactive]="!isTdhActive()">
  {{equipment.mag_tdh}}% {{'mag' | translate}} {{'tdh' | translate}}
</p>
<p *ngIf="equipment.mag_dw" [class.inactive]="!isDualWielding()">
  {{equipment.mag_dw}}% {{'mag' | translate}} {{'tdw' | translate}}
</p>
<p *ngIf="equipment.def">{{equipment.def}} {{'def' | translate}}</p>
<p *ngIf="equipment.def_percent">{{equipment.def_percent}}% {{'def' | translate}}</p>
<p *ngIf="equipment.def_dh" [class.inactive]="!isDhActive()">
  {{equipment.def_dh}}% {{'def' | translate}} {{'dh' | translate}}
</p>
<p *ngIf="equipment.def_tdh" [class.inactive]="!isTdhActive()">
  {{equipment.def_tdh}}% {{'def' | translate}} {{'tdh' | translate}}
</p>
<p *ngIf="equipment.def_dw" [class.inactive]="!isDualWielding()">
  {{equipment.def_dw}}% {{'def' | translate}} {{'tdw' | translate}}
</p>
<p *ngIf="equipment.spr">{{equipment.spr}} {{'spr' | translate}}</p>
<p *ngIf="equipment.spr_percent">{{equipment.spr_percent}}% {{'spr' | translate}}</p>
<p *ngIf="equipment.spr_dh" [class.inactive]="!isDhActive()">
  {{equipment.spr_dh}}% {{'spr' | translate}} {{'dh' | translate}}
</p>
<p *ngIf="equipment.spr_tdh" [class.inactive]="!isTdhActive()">
  {{equipment.spr_tdh}}% {{'spr' | translate}} {{'tdh' | translate}}
</p>
<p *ngIf="equipment.spr_dw" [class.inactive]="!isDualWielding()">
  {{equipment.spr_dw}}% {{'spr' | translate}} {{'tdw' | translate}}
</p>
<p *ngIf="equipment.evo">{{equipment.evo}}% {{'evo' | translate}}</p>
<p *ngIf="equipment.jump" class="jump">{{equipment.jump}}% <img src="assets/icons/jump.png" class="jump"></p>
<p *ngIf="equipment.physical_killers" class="passive">
  <ng-container *ngFor="let type of getMonsterTypes()">
  <span *ngIf="equipment.physical_killers[type]">{{equipment.physical_killers[type]}}%
    <img src="assets/equipments/1.png" alt="{{'physical' | translate}}"><img src="assets/icons/killer.png"
                                                                             alt="{{'killer' | translate}}">
    {{type | translate}}
  </span>
  </ng-container>
</p>
<p *ngIf="equipment.magical_killers" class="passive">
  <ng-container *ngFor="let type of getMonsterTypes()">
  <span *ngIf="equipment.magical_killers[type]">{{equipment.magical_killers[type]}}%
    <img src="assets/equipments/2.png" alt="{{'magical' | translate}}"><img src="assets/icons/killer.png"
                                                                            alt="{{'killer' | translate}}">
    {{type | translate}}
  </span>
  </ng-container>
</p>
<p *ngIf="equipment.lb_multiplier">{{(equipment.lb_multiplier - 1) * 100 | integer}}% {{'lbDamages' | translate}}</p>

<p *ngFor="let passive of getConditionalPassivesToDisplay()" class="passive" [class.inactive]="!passive.active">
  <span *ngIf="passive.hp">{{passive.hp}}% {{'hp' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.hp_dh" [class.inactive]="!isDhActive()">{{passive.hp_dh}}% {{'hp' | translate}} {{'dh' | translate}}</span>
  <span *ngIf="passive.hp_tdh" [class.inactive]="!isTdhActive()">{{passive.hp_tdh}}% {{'hp' | translate}} {{'tdh' | translate}}</span>
  <span *ngIf="passive.hp_dw" [class.inactive]="!isDualWielding()">{{passive.hp_dw}}% {{'hp' | translate}} {{'tdw' | translate}}</span>
  <span *ngIf="passive.mp">{{passive.mp}}% {{'mp' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.mp_dh" [class.inactive]="!isDhActive()">{{passive.mp_dh}}% {{'mp' | translate}} {{'dh' | translate}}</span>
  <span *ngIf="passive.mp_tdh" [class.inactive]="!isTdhActive()">{{passive.mp_tdh}}% {{'mp' | translate}} {{'tdh' | translate}}</span>
  <span *ngIf="passive.mp_dw" [class.inactive]="!isDualWielding()">{{passive.mp_dw}}% {{'mp' | translate}} {{'tdw' | translate}}</span>
  <span *ngIf="passive.atk">{{passive.atk}}% {{'atk' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.atk_dh" [class.inactive]="!isDhActive()">{{passive.atk_dh}}% {{'atk' | translate}} {{'dh' | translate}}</span>
  <span *ngIf="passive.atk_tdh" [class.inactive]="!isTdhActive()">{{passive.atk_tdh}}% {{'atk' | translate}} {{'tdh' | translate}}</span>
  <span *ngIf="passive.atk_dw" [class.inactive]="!isDualWielding()">{{passive.atk_dw}}% {{'atk' | translate}} {{'tdw' | translate}}</span>
  <span *ngIf="passive.mag">{{passive.mag}}% {{'mag' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.mag_dh" [class.inactive]="!isDhActive()">{{passive.mag_dh}}% {{'mag' | translate}} {{'dh' | translate}}</span>
  <span *ngIf="passive.mag_tdh" [class.inactive]="!isTdhActive()">{{passive.mag_tdh}}% {{'mag' | translate}} {{'tdh' | translate}}</span>
  <span *ngIf="passive.mag_dw" [class.inactive]="!isDualWielding()">{{passive.mag_dw}}% {{'mag' | translate}} {{'tdw' | translate}}</span>
  <span *ngIf="passive.def">{{passive.def}}% {{'def' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.def_dh" [class.inactive]="!isDhActive()">{{passive.def_dh}}% {{'def' | translate}} {{'dh' | translate}}</span>
  <span *ngIf="passive.def_tdh" [class.inactive]="!isTdhActive()">{{passive.def_tdh}}% {{'def' | translate}} {{'tdh' | translate}}</span>
  <span *ngIf="passive.def_dw" [class.inactive]="!isDualWielding()">{{passive.def_dw}}% {{'def' | translate}} {{'tdw' | translate}}</span>
  <span *ngIf="passive.spr">{{passive.spr}}% {{'spr' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.spr_dh" [class.inactive]="!isDhActive()">{{passive.spr_dh}}% {{'spr' | translate}} {{'dh' | translate}}</span>
  <span *ngIf="passive.spr_tdh" [class.inactive]="!isTdhActive()">{{passive.spr_tdh}}% {{'spr' | translate}} {{'tdh' | translate}}</span>
  <span *ngIf="passive.spr_dw" [class.inactive]="!isDualWielding()">{{passive.spr_dw}}% {{'spr' | translate}} {{'tdw' | translate}}</span>
  <span *ngIf="passive.evo">{{passive.evo}}% {{'evo' | translate}}</span>
  <span *ngIf="passive.lb_power && passive.lb_power >= 10">{{passive.lb_power}}% {{'lbPower' | translate}}</span>
  <span *ngIf="passive.lb_power && passive.lb_power < 9">
    {{(passive.lb_power - 1) * 100 | integer}}% {{'lbDamages' | translate}}
  </span>
  <span *ngIf="passive.skill">{{passive.skill_mod}}% <img src="{{passive.skill_icon}}">{{passive.skill_name}}</span>

  <span *ngIf="passive.physical_killers" class="passive">
    <ng-container *ngFor="let type of getMonsterTypes()">
      <span *ngIf="passive.physical_killers[type]">{{passive.physical_killers[type]}}%
        <img src="assets/equipments/1.png" alt="{{'physical' | translate}}">
        <img src="assets/icons/killer.png" alt="{{'killer' | translate}}">
        {{type | translate}}
      </span>
    </ng-container>
  </span>
  <span *ngIf="passive.magical_killers" class="passive">
    <ng-container *ngFor="let type of getMonsterTypes()">
      <span *ngIf="passive.magical_killers[type]">{{passive.magical_killers[type]}}%
        <img src="assets/equipments/2.png" alt="{{'magical' | translate}}">
        <img src="assets/icons/killer.png" alt="{{'killer' | translate}}">
        {{type | translate}}
      </span>
    </ng-container>
  </span>
</p>
<p *ngIf="equipment.variance_min > 0 && equipment.variance_max > 0">
  {{equipment.variance_min}}% - {{equipment.variance_max}}%
</p>

<div class="weapon-trait" *ngIf="displayWeaponTraits && equipment.isWeaponTraitPossible()"
     (click)="weaponTraitClicked(1)">
  <p *ngIf="weaponTrait1 && weaponTrait1.hp_percent">{{weaponTrait1.hp_percent}}% {{'hp' | translate}}</p>
  <p *ngIf="weaponTrait1 && weaponTrait1.mp_percent">{{weaponTrait1.mp_percent}}% {{'mp' | translate}}</p>
  <p *ngIf="weaponTrait1 && weaponTrait1.atk_percent">{{weaponTrait1.atk_percent}}% {{'atk' | translate}}</p>
  <p *ngIf="weaponTrait1 && weaponTrait1.mag_percent">{{weaponTrait1.mag_percent}}% {{'mag' | translate}}</p>
  <p *ngIf="weaponTrait1 && weaponTrait1.def_percent">{{weaponTrait1.def_percent}}% {{'def' | translate}}</p>
  <p *ngIf="weaponTrait1 && weaponTrait1.spr_percent">{{weaponTrait1.spr_percent}}% {{'spr' | translate}}</p>
</div>
<div class="weapon-trait" *ngIf="displayWeaponTraits && equipment.isWeaponTraitPossible()"
     (click)="weaponTraitClicked(2)">
  <p *ngIf="weaponTrait2 && weaponTrait2.hp_percent">{{weaponTrait2.hp_percent}}% {{'hp' | translate}}</p>
  <p *ngIf="weaponTrait2 && weaponTrait2.mp_percent">{{weaponTrait2.mp_percent}}% {{'mp' | translate}}</p>
  <p *ngIf="weaponTrait2 && weaponTrait2.atk_percent">{{weaponTrait2.atk_percent}}% {{'atk' | translate}}</p>
  <p *ngIf="weaponTrait2 && weaponTrait2.mag_percent">{{weaponTrait2.mag_percent}}% {{'mag' | translate}}</p>
  <p *ngIf="weaponTrait2 && weaponTrait2.def_percent">{{weaponTrait2.def_percent}}% {{'def' | translate}}</p>
  <p *ngIf="weaponTrait2 && weaponTrait2.spr_percent">{{weaponTrait2.spr_percent}}% {{'spr' | translate}}</p>
</div>
<div class="weapon-trait" *ngIf="displayWeaponTraits && equipment.isWeaponTraitPossible()"
     (click)="weaponTraitClicked(3)">
  <p *ngIf="weaponTrait3 && weaponTrait3.hp_percent">{{weaponTrait3.hp_percent}}% {{'hp' | translate}}</p>
  <p *ngIf="weaponTrait3 && weaponTrait3.mp_percent">{{weaponTrait3.mp_percent}}% {{'mp' | translate}}</p>
  <p *ngIf="weaponTrait3 && weaponTrait3.atk_percent">{{weaponTrait3.atk_percent}}% {{'atk' | translate}}</p>
  <p *ngIf="weaponTrait3 && weaponTrait3.mag_percent">{{weaponTrait3.mag_percent}}% {{'mag' | translate}}</p>
  <p *ngIf="weaponTrait3 && weaponTrait3.def_percent">{{weaponTrait3.def_percent}}% {{'def' | translate}}</p>
  <p *ngIf="weaponTrait3 && weaponTrait3.spr_percent">{{weaponTrait3.spr_percent}}% {{'spr' | translate}}</p>
</div>
