<h2>{{equipment.name}}</h2>
<p *ngIf="equipment.hp">+{{equipment.hp}} {{'hp' | translate}}</p>
<p *ngIf="equipment.hp_percent">+{{equipment.hp_percent}}% {{'hp' | translate}}</p>
<p *ngIf="equipment.mp">+{{equipment.mp}} {{'mp' | translate}}</p>
<p *ngIf="equipment.mp_percent">+{{equipment.mp_percent}}% {{'mp' | translate}}</p>
<p *ngIf="equipment.atk">+{{equipment.atk}} {{'atk' | translate}}</p>
<p *ngIf="equipment.atk_percent">+{{equipment.atk_percent}}% {{'atk' | translate}}</p>
<p *ngIf="equipment.mag">+{{equipment.mag}} {{'mag' | translate}}</p>
<p *ngIf="equipment.mag_percent">+{{equipment.mag_percent}}% {{'mag' | translate}}</p>
<p *ngIf="equipment.def">+{{equipment.def}} {{'def' | translate}}</p>
<p *ngIf="equipment.def_percent">+{{equipment.def_percent}}% {{'def' | translate}}</p>
<p *ngIf="equipment.spr">+{{equipment.spr}} {{'spr' | translate}}</p>
<p *ngIf="equipment.spr_percent">+{{equipment.spr_percent}}% {{'spr' | translate}}</p>
<p *ngIf="equipment.atk_dh" [class.inactive]="!isDhActive()">
  +{{equipment.atk_dh}}% {{'atk' | translate}} {{'dh' | translate}}
</p>
<p *ngIf="equipment.atk_tdh" [class.inactive]="!isTdhActive()">
  +{{equipment.atk_tdh}}% {{'atk' | translate}} {{'tdh' | translate}}
</p>
<p *ngIf="equipment.mag_dh" [class.inactive]="!isDhActive()">
  +{{equipment.mag_dh}}% {{'mag' | translate}} {{'dh' | translate}}
</p>
<p *ngIf="equipment.mag_tdh" [class.inactive]="!isTdhActive()">
  +{{equipment.mag_tdh}}% {{'mag' | translate}} {{'tdh' | translate}}
</p>
<p *ngFor="let passive of getConditionalPassivesToDisplay()" class="passive" [class.inactive]="!passive.active">
  <span *ngIf="passive.hp">+{{passive.hp}}% {{'hp' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.mp">+{{passive.mp}}% {{'mp' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.atk">+{{passive.atk}}% {{'atk' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.mag">+{{passive.mag}}% {{'mag' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.def">+{{passive.def}}% {{'def' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.spr">+{{passive.spr}}% {{'spr' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
</p>
