<mat-card>
  <mat-card-title>{{'calculation.display.title' | translate}}</mat-card-title>
  <mat-card-content *ngIf="!unitsService.getAlgorithm()">
    {{'calculation.display.missingAlgorithm' | translate}}
  </mat-card-content>
  <mat-card-content *ngIf="unitsService.getAlgorithm()">
    <app-calculation-offensive *ngIf="unitsService.selectedUnit.selectedBuild.algorithmId < 8"
                               [algorithm]="unitsService.getAlgorithm()"
                               [result]="unitsService.getResult()">
    </app-calculation-offensive>
    <app-calculation-defensive *ngIf="unitsService.selectedUnit.selectedBuild.algorithmId === 8"
                               [algorithm]="unitsService.getAlgorithm()"
                               [result]="unitsService.getResult()">
    </app-calculation-defensive>
  </mat-card-content>
</mat-card>
