<mat-card *ngIf="unitsService.selectedUnit.selectedBuild.isDefensiveBuild()">
  <mat-card-title>{{'calculation.display.title' | translate}}</mat-card-title>
  <mat-card-content>
    <app-calculation-defensive [algorithm]="unitsService.getAlgorithm()" [result]="unitsService.getResult()">
    </app-calculation-defensive>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="unitsService.selectedUnit.selectedBuild.isOffensiveBuild()">
  <mat-card-title *ngIf="isBuildStartPhaseReadyAndWithStartPhaseSkills()">
    {{'calculation.offensive.startTitle' | translate}}
  </mat-card-title>
  <mat-card-content *ngIf="isBuildStartPhaseReadyAndWithStartPhaseSkills()">
    <app-calculation-offensive [algorithm]="unitsService.getAlgorithm()"
                               [result]="unitsService.getResult()"
                               [isStartPhase]="true">
    </app-calculation-offensive>
  </mat-card-content>
  <mat-card-title>{{'calculation.offensive.stableTitle' | translate}}</mat-card-title>
  <mat-card-content>
    <app-calculation-offensive [algorithm]="unitsService.getAlgorithm()"
                               [result]="unitsService.getResult()"
                               [isStartPhase]="false">
    </app-calculation-offensive>
  </mat-card-content>
  <mat-card-title>{{'calculation.display.title' | translate}}</mat-card-title>
  <mat-card-content>
    <app-calculation-offensive-totals [algorithm]="unitsService.getAlgorithm()"
                                      [result]="unitsService.getResult()">
    </app-calculation-offensive-totals>
  </mat-card-content>
</mat-card>
