<mat-toolbar>

  <ul class="error" *ngIf="errors.length > 0">
    <li *ngFor="let error of errors">{{error | translate}}</li>
  </ul>

  <button mat-raised-button color="accent" (click)="openUnitSelectionPane()">{{'menu.compute' | translate}}</button>

  <mat-menu #languageMenu="matMenu" yPosition="below" [overlapTrigger]="false">
    <button mat-menu-item (click)="switchLanguage('en')">{{'menu.language.english' | translate}}</button>
    <button mat-menu-item (click)="switchLanguage('fr')">{{'menu.language.french' | translate}}</button>
  </mat-menu>
  <button mat-raised-button color="accent" [matMenuTriggerFor]="languageMenu">{{'menu.languages' | translate}}</button>
</mat-toolbar>

<div class="left">
  <app-unit-details [unit]="unitsService.selectedUnit" *ngIf="unitsService.selectedUnit"></app-unit-details>
  <app-equipments-display [equipments]="unitsService.selectedUnit.selectedBuild.equipments"
                          *ngIf="unitsService.selectedUnit"
                          (equipmentChanged)="computeAfterEquipmentChanged()"></app-equipments-display>
</div>
<div class="right">
  <app-skills-display *ngIf="unitsService.selectedUnit && unitsService.selectedUnit.selectedBuild.skills.length > 0">
  </app-skills-display>
  <app-calculation-display *ngIf="unitsService.selectedUnit"></app-calculation-display>
</div>
