<mat-toolbar>

  <ul class="error" *ngIf="errors.length > 0">
    <li *ngFor="let error of errors">{{error | translate}}</li>
  </ul>

  <button mat-raised-button color="accent" (click)="openUnitSelectionPane()">{{'menu.compute' | translate}}</button>
</mat-toolbar>

<app-unit-details [unit]="selectedUnit" *ngIf="selectedUnit"></app-unit-details>
<app-equipment-details [equipments]="selectedUnit.selectedBuild.equipments"
                       [unitId]="selectedUnit.id"
                       *ngIf="selectedUnit"
                       (equipmentChanged)="computeAfterEquipmentChanged()"></app-equipment-details>
<app-damage-results *ngIf="selectedUnit"></app-damage-results>
