<div class="left">
  <app-unit-details [unit]="unitsService.selectedUnit" *ngIf="unitsService.selectedUnit"></app-unit-details>
  <app-equipments-display [equipments]="unitsService.selectedUnit.selectedBuild.equipments"
                          *ngIf="unitsService.selectedUnit"
                          (equipmentChanged)="computeAfterEquipmentChanged()"></app-equipments-display>
  <mat-card *ngIf="!unitsService.selectedUnit">
    <mat-card-title>{{'calculator.home.title' | translate}}</mat-card-title>
    <mat-card-content>
      <p>{{'calculator.home.howToStart' | translate}}</p>
      <ol>
        <li>{{'calculator.home.hitUnitButton' | translate}}</li>
        <li>{{'calculator.home.selectUnit' | translate}}</li>
        <li>{{'calculator.home.adaptEquipments' | translate}}</li>
        <li>{{'calculator.home.getCharacterCalculation' | translate}}</li>
      </ol>
      <p>{{'calculator.home.thereIsMore' | translate}}</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="right">
  <app-skills-display *ngIf="unitsService.selectedUnit && unitsService.selectedUnit.selectedBuild.skills.length > 0">
  </app-skills-display>
  <app-calculation-display *ngIf="unitsService.selectedUnit"></app-calculation-display>
  <app-permanent-url *ngIf="unitsService.selectedUnit" [unit]="unitsService.selectedUnit"
                     [right_hand]="unitsService.getEquipments().right_hand"
                     [left_hand]="unitsService.getEquipments().left_hand"
                     [head]="unitsService.getEquipments().head"
                     [body]="unitsService.getEquipments().body"
                     [accessory1]="unitsService.getEquipments().accessory1"
                     [accessory2]="unitsService.getEquipments().accessory2"
                     [materia1]="unitsService.getEquipments().materia1"
                     [materia2]="unitsService.getEquipments().materia2"
                     [materia3]="unitsService.getEquipments().materia3"
                     [materia4]="unitsService.getEquipments().materia4">
  </app-permanent-url>
</div>
