img {
  max-width: 58px;
  cursor: pointer;
  vertical-align: middle;
}

span.turn-separator {
  display: inline-block;
  width: 2px;
  height: 50px;
  margin: 0 8px;
  background-color: white;
  vertical-align: middle;
}

.stable-skills-title {
  margin-top: 1rem;
}
