<div class="left">
  <mat-card>
    <mat-card-title>{{'calculator.about.title' | translate}}</mat-card-title>
    <mat-card-content>
      <p>{{'calculator.about.summary' | translate}}</p>
      <ul>
        <li>{{'calculator.about.chainers' | translate}}</li>
        <li>{{'calculator.about.finishers' | translate}}</li>
        <li>{{'calculator.about.tanks' | translate}}</li>
      </ul>
      <p>{{'calculator.about.todo' | translate}}</p>
      <ul>
        <li>{{'calculator.about.espers' | translate}}</li>
        <li>{{'calculator.about.healers' | translate}}</li>
        <li>{{'calculator.about.supports' | translate}}</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>

<div class="right">
  <mat-card>
    <mat-card-title>{{'calculator.rules.title' | translate}}</mat-card-title>
    <mat-card-content>
      <p>{{'calculator.rules.summary' | translate}}</p>
      <ul>
        <li>{{'calculator.rules.chainersWithDuplicate' | translate}}</li>
        <li>{{'calculator.rules.finishersWithChainers' | translate}}</li>
        <li>{{'calculator.rules.chainCalculationSimplified' | translate}}</li>
        <li>{{'calculator.rules.chainImpossibleCases' | translate}}</li>
        <li>{{'calculator.rules.supportPresence' | translate}}</li>
        <li>{{'calculator.rules.killersCalculation' | translate}}</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
