div.flexcontainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.unit {
  width: 75px;
}

.unit-icon {
  display: block;
  margin: auto;
  max-width: 75px;
  cursor: pointer;
}

@media (min-width: 600px) {
  .unit {
    width: 120px;
  }

  .unit-icon {
    max-width: 120px;
  }
}
