<p *ngFor="let passive of passives" class="passive" [class.inactive]="!passive.active">
  <span *ngIf="passive.hp">+{{passive.hp}}% {{'hp' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.hp_dh" [class.inactive]="!isDhActive()">+{{passive.hp_dh}}% {{'hp' | translate}} {{'dh' | translate}}</span>
  <span *ngIf="passive.hp_tdh" [class.inactive]="!isTdhActive()">+{{passive.hp_tdh}}% {{'hp' | translate}} {{'tdh' | translate}}</span>
  <span *ngIf="passive.hp_dw" [class.inactive]="!isDualWielding()">+{{passive.hp_dw}}% {{'hp' | translate}} {{'tdw' | translate}}</span>
  <span *ngIf="passive.mp">+{{passive.mp}}% {{'mp' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.mp_dh" [class.inactive]="!isDhActive()">+{{passive.mp_dh}}% {{'mp' | translate}} {{'dh' | translate}}</span>
  <span *ngIf="passive.mp_tdh" [class.inactive]="!isTdhActive()">+{{passive.mp_tdh}}% {{'mp' | translate}} {{'tdh' | translate}}</span>
  <span *ngIf="passive.mp_dw" [class.inactive]="!isDualWielding()">+{{passive.mp_dw}}% {{'mp' | translate}} {{'tdw' | translate}}</span>
  <span *ngIf="passive.atk">+{{passive.atk}}% {{'atk' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.atk_dh" [class.inactive]="!isDhActive()">+{{passive.atk_dh}}% {{'atk' | translate}} {{'dh' | translate}}</span>
  <span *ngIf="passive.atk_tdh" [class.inactive]="!isTdhActive()">+{{passive.atk_tdh}}% {{'atk' | translate}} {{'tdh' | translate}}</span>
  <span *ngIf="passive.atk_dw" [class.inactive]="!isDualWielding()">+{{passive.atk_dw}}% {{'atk' | translate}} {{'tdw' | translate}}</span>
  <span *ngIf="passive.mag">+{{passive.mag}}% {{'mag' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.mag_dh" [class.inactive]="!isDhActive()">+{{passive.mag_dh}}% {{'mag' | translate}} {{'dh' | translate}}</span>
  <span *ngIf="passive.mag_tdh" [class.inactive]="!isTdhActive()">+{{passive.mag_tdh}}% {{'mag' | translate}} {{'tdh' | translate}}</span>
  <span *ngIf="passive.mag_dw" [class.inactive]="!isDualWielding()">+{{passive.mag_dw}}% {{'mag' | translate}} {{'tdw' | translate}}</span>
  <span *ngIf="passive.def">+{{passive.def}}% {{'def' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.def_dh" [class.inactive]="!isDhActive()">+{{passive.def_dh}}% {{'def' | translate}} {{'dh' | translate}}</span>
  <span *ngIf="passive.def_tdh" [class.inactive]="!isTdhActive()">+{{passive.def_tdh}}% {{'def' | translate}} {{'tdh' | translate}}</span>
  <span *ngIf="passive.def_dw" [class.inactive]="!isDualWielding()">+{{passive.def_dw}}% {{'def' | translate}} {{'tdw' | translate}}</span>
  <span *ngIf="passive.spr">+{{passive.spr}}% {{'spr' | translate}}
    <img *ngIf="passive.category" src="assets/equipments/{{passive.category}}.png"></span>
  <span *ngIf="passive.spr_dh" [class.inactive]="!isDhActive()">+{{passive.spr_dh}}% {{'spr' | translate}} {{'dh' | translate}}</span>
  <span *ngIf="passive.spr_tdh" [class.inactive]="!isTdhActive()">+{{passive.spr_tdh}}% {{'spr' | translate}} {{'tdh' | translate}}</span>
  <span *ngIf="passive.spr_dw" [class.inactive]="!isDualWielding()">+{{passive.spr_dw}}% {{'spr' | translate}} {{'tdw' | translate}}</span>
  <span *ngIf="passive.lb_power">+{{passive.lb_power}}% {{'lbPower' | translate}}</span>
</p>
