.inactive {
  text-decoration: line-through;
}

.passive {
  padding-right: 5px;
  font-size: 12px;
}

.passive img {
  width: 16px;
  height: 16px;
  vertical-align: bottom;
}

.passive span {
  display: block;
}
