<h1>{{'calculation.display.skillHitsPower' | translate}}</h1>
<table>
  <tr>
    <td>{{'calculation.display.sparkChain' | translate}}</td>
    <td>
      <mat-checkbox [(ngModel)]="algorithm.isSparkChain" (change)="calculateBuild()"></mat-checkbox>
    </td>
  </tr>
  <tr>
    <td>{{'calculation.display.comboIncrement' | translate}}</td>
    <td>{{result.combosIncrement | number:'1.1-1'}}</td>
  </tr>
</table>
<div *ngFor="let damages of result.perTurnHitsPower; let i = index">
  <h2>{{'calculation.display.turn' | translate}} {{i + 1}}
    <span *ngIf="damages.length > 1">({{damages.length}} {{'calculation.display.hits' | translate}})</span>
  </h2>
  <p><span *ngFor="let damage of damages">{{damage | number:'1.0-0'}}% </span></p>
</div>
<div class="total">
  <h2>{{'calculation.display.averageTurnPower' | translate}}</h2>
  <p>{{result.averageTurnPower | number:'1.0-0'}}%</p>
</div>
