.equipment {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

.equipment img {
  width: 58px;
  margin-right: 10px;
}

.equipment h2 {
  margin: 0;
  font-size: 12px;
}

.equipment p {
  margin: 0;
  font-size: 11px;
}
