<h2 mat-dialog-title *ngIf="!skill.isEsper">{{skill.name}}</h2>
<mat-dialog-content *ngIf="!skill.isEsper">
  <table>
    <tr>
      <td>{{'skills.display.attackType' | translate}}</td>
      <td>{{'skills.display.attackType_' + skill.category | translate}}</td>
    </tr>
    <tr>
      <td>{{'skills.display.damageType' | translate}}</td>
      <td>{{'skills.display.damageType_' + skill.damages_type | translate}}</td>
    </tr>
    <tr *ngIf="skill.calculation_stat">
      <td>{{'skills.display.calculationStat' | translate}}</td>
      <td>{{skill.calculation_stat | translate}}</td>
    </tr>
    <tr>
      <td>{{'skills.display.power' | translate}}</td>
      <td>{{skill.power | integer}}%</td>
    </tr>
    <tr *ngIf="skill.hits">
      <td>{{'skills.display.hits' | translate}}</td>
      <td>{{skill.hits}}</td>
    </tr>
    <tr *ngIf="skill.frames">
      <td>{{'skills.display.frames' | translate}}</td>
      <td>{{skill.frames}}</td>
    </tr>
    <tr *ngIf="skill.damages">
      <td>{{'skills.display.damages' | translate}}</td>
      <td>{{skill.damages}}</td>
    </tr>
    <tr *ngIf="skill.nb > 1">
      <td>{{'skills.display.castNumber' | translate}}</td>
      <td>{{skill.nb}}</td>
    </tr>
  </table>
</mat-dialog-content>

<h2 mat-dialog-title *ngIf="skill.isEsper">{{getEsperName()}}</h2>
<mat-dialog-content *ngIf="skill.isEsper">
  <table>
    <tr>
      <td>{{'skills.display.attackType' | translate}}</td>
      <td>{{'skills.display.attackType_esper' | translate}}</td>
    </tr>
    <tr>
      <td>{{'skills.display.damageType' | translate}}</td>
      <td>{{'skills.display.damageType_' + esper.damageType | translate}}</td>
    </tr>
    <tr>
      <td>{{'skills.display.power' | translate}}</td>
      <td>{{esper.power | integer}}</td>
    </tr>
  </table>
</mat-dialog-content>
