<mat-card>
  <mat-card-title class="equipment-selection-mct">{{'equipment.selection.title' | translate}}</mat-card-title>
  <table class="equipment">
    <tr *ngIf="equipments.right_hand || equipments.left_hand">
      <td class="equipment-icon">
        <img *ngIf="equipments.right_hand" [src]="equipments.right_hand.icon"
             (click)="openEquipmentSelectionPane('right_hand')">
      </td>
      <td class="equipment-details">
        <app-equipment-details [equipment]="equipments.right_hand" *ngIf="equipments.right_hand"
                               [weaponTrait1]="equipments.rh_trait1"
                               [weaponTrait2]="equipments.rh_trait2"
                               [weaponTrait3]="equipments.rh_trait3"
                               [displayWeaponTraits]="true"
                               (weaponTraitEmitter)="openEquipmentSelectionPaneForRhWeaponTrait($event)">
        </app-equipment-details>
      </td>
      <td class="equipment-icon" (click)="openEquipmentSelectionPane('left_hand')">
        <img *ngIf="equipments.left_hand" [src]="equipments.left_hand.icon">
      </td>
      <td class="equipment-details">
        <app-equipment-details [equipment]="equipments.left_hand" *ngIf="equipments.left_hand"
                               [weaponTrait1]="equipments.lh_trait1"
                               [weaponTrait2]="equipments.lh_trait2"
                               [weaponTrait3]="equipments.lh_trait3"
                               [displayWeaponTraits]="true"
                               (weaponTraitEmitter)="openEquipmentSelectionPaneForLhWeaponTrait($event)">
        </app-equipment-details>
      </td>
    </tr>
    <tr *ngIf="equipments.head || equipments.body">
      <td class="equipment-icon">
        <img *ngIf="equipments.head" [src]="equipments.head.icon" (click)="openEquipmentSelectionPane('head')">
      </td>
      <td class="equipment-details">
        <app-equipment-details [equipment]="equipments.head" *ngIf="equipments.head"></app-equipment-details>
      </td>
      <td class="equipment-icon">
        <img *ngIf="equipments.body" [src]="equipments.body.icon" (click)="openEquipmentSelectionPane('body')">
      </td>
      <td class="equipment-details">
        <app-equipment-details [equipment]="equipments.body" *ngIf="equipments.body"></app-equipment-details>
      </td>
    </tr>
    <tr>
      <td class="equipment-icon">
        <img *ngIf="equipments.accessory1" [src]="equipments.accessory1.icon"
             (click)="openEquipmentSelectionPane('accessory1')">
      </td>
      <td class="equipment-details">
        <app-equipment-details [equipment]="equipments.accessory1" *ngIf="equipments.accessory1">
        </app-equipment-details>
      </td>
      <td class="equipment-icon">
        <img *ngIf="equipments.accessory2" [src]="equipments.accessory2.icon"
             (click)="openEquipmentSelectionPane('accessory2')">
      </td>
      <td class="equipment-details">
        <app-equipment-details [equipment]="equipments.accessory2" *ngIf="equipments.accessory2">
        </app-equipment-details>
      </td>
    </tr>
    <tr *ngIf="equipments.materia1 || equipments.materia2">
      <td class="equipment-icon">
        <img *ngIf="equipments.materia1" [src]="equipments.materia1.icon"
             (click)="openEquipmentSelectionPane('materia1')">
      </td>
      <td class="equipment-details">
        <app-equipment-details [equipment]="equipments.materia1" *ngIf="equipments.materia1"></app-equipment-details>
      </td>
      <td class="equipment-icon">
        <img *ngIf="equipments.materia2" [src]="equipments.materia2.icon"
             (click)="openEquipmentSelectionPane('materia2')">
      </td>
      <td class="equipment-details">
        <app-equipment-details [equipment]="equipments.materia2" *ngIf="equipments.materia2"></app-equipment-details>
      </td>
    </tr>
    <tr *ngIf="equipments.materia3 || equipments.materia4">
      <td class="equipment-icon">
        <img *ngIf="equipments.materia3" [src]="equipments.materia3.icon"
             (click)="openEquipmentSelectionPane('materia3')">
      </td>
      <td class="equipment-details">
        <app-equipment-details [equipment]="equipments.materia3" *ngIf="equipments.materia3"></app-equipment-details>
      </td>
      <td class="equipment-icon">
        <img *ngIf="equipments.materia4" [src]="equipments.materia4.icon"
             (click)="openEquipmentSelectionPane('materia4')">
      </td>
      <td class="equipment-details">
        <app-equipment-details [equipment]="equipments.materia4" *ngIf="equipments.materia4"></app-equipment-details>
      </td>
    </tr>
  </table>
  <p class="stmr-exclude">
    <mat-checkbox [(ngModel)]="unitsService.stmrExclusion">
      {{'equipment.selection.excludeStmr' | translate}}
    </mat-checkbox>
  </p>
</mat-card>
