div.flexcontainer {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
}

.equipment-icon img {
  max-width: 58px;
  cursor: pointer;
}

.equipment {
  border-spacing: 0;
  border-collapse: collapse;
}

.equipment-icon {
  vertical-align: top;
  border: 1px solid #505139;
  border-right: 0;
  background-color: #000c63;
}

.equipment-details {
  vertical-align: top;
  border: 1px solid #505139;
  border-left: 0;
  background-color: #000c63;
}

p.stmr-exclude {
  margin-top: 5px;
}
