.filter mat-form-field {
  width: 100%;
}

.filter {
  margin-bottom: -.8rem;
}

.equipment {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid #505139;
  border-bottom: 0;
  background-color: #000c63;
}

.equipment img {
  width: 58px;
  cursor: pointer;
}

.equipment app-equipment-details {
  flex-grow: 1;
}

.unequip,
.blocked {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-weight: bold;
}

.blocked {
  max-width: 280px;
}

.unequip span {
  font-size: 18px;
}

p.stmr-exclude {
  margin-top: 5px;
}
