.equipment {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid #505139;
  border-bottom: 0;
  background-color: #000c63;
}

.equipment img {
  width: 58px;
  cursor: pointer;
}

.equipment app-equipment-details {
  flex-grow: 1;
}

.unequip {
  padding-left: 10px;
  color: white;
  font-weight: bold;
}

.unequip span {
  font-size: 18px;
}
