<mat-dialog-content *ngIf="!locked">
  <div class="filter">
    <mat-form-field>
      <input matInput #itemfilter placeholder="{{'equipment.selection.filter' | translate}}">
    </mat-form-field>
  </div>
  <div class="stmr-exclude">
    <mat-checkbox [(ngModel)]="unitsService.stmrExclusion">
      {{'equipment.selection.excludeStmr' | translate}}
    </mat-checkbox>
  </div>
  <div class="equipment" (click)="removeEquipment()" *ngIf="removeable">
    <p class="unequip"><span>&#8617;</span> {{'equipment.selection.remove' | translate}}</p>
  </div>
  <ng-container *ngFor="let equipment of equipments">
    <div class="equipment" *ngIf="!unitsService.stmrExclusion || !equipment.stmr"
         [style.display]="equipment.filtered ? 'none' : ''">
      <div>
        <img [src]="equipment.icon" (click)="selectEquipment(equipment)">
      </div>
      <app-equipment-details [equipment]="equipment" [displayWeaponTraits]="false"></app-equipment-details>
    </div>
  </ng-container>
</mat-dialog-content>


<mat-dialog-content *ngIf="locked">
  <div class="equipment"><p class="blocked">{{'equipment.selection.changeBlocked' | translate}}</p></div>
</mat-dialog-content>
