<h2 mat-dialog-title>{{'calculation.defensive.ehpCalculation' | translate}}</h2>
<mat-dialog-content>
  <table>
    <tr>
      <td>{{'calculation.defensive.physicalEhp' | translate}}</td>
      <td>{{result.physicalEffectiveHp | integer}}</td>
    </tr>
    <tr>
      <td>{{'calculation.defensive.magicalEhp' | translate}}</td>
      <td>{{result.magicalEffectiveHp | integer}}</td>
    </tr>
  </table>
  <h3>{{'calculation.defensive.ehp' | translate}}</h3>
  <p>({{result.physicalEffectiveHp | integer}} + {{result.magicalEffectiveHp | integer}}) / 2
  </p>
  <p>= <strong>{{result.result | integer}} MEHP</strong></p>
</mat-dialog-content>
