<h1>{{'calculation.defensive.ehpCalculation' | translate}}</h1>
<table>
  <tr>
    <td>{{'calculation.defensive.physicalEhp' | translate}}</td>
    <td>{{result.physicalEffectiveHp | integer}}</td>
  </tr>
  <tr>
    <td>{{'calculation.defensive.magicalEhp' | translate}}</td>
    <td>{{result.magicalEffectiveHp | integer}}</td>
  </tr>
</table>
<h2>{{'calculation.defensive.ehp' | translate}}</h2>
<p>({{result.physicalEffectiveHp | integer}} + {{result.magicalEffectiveHp | integer}}) / 2
</p>
<p>= <strong>{{result.result | integer}} MEHP</strong></p>
