<h2 mat-dialog-title>{{'calculation.offensive.physicalDamagesCalculation' | translate}}</h2>
<mat-dialog-content>
  <h3>{{'calculation.offensive.skillHitsPower' | translate}}</h3>
  <table>
    <tr *ngIf="isChaining()">
      <td>{{'calculation.offensive.sparkChain' | translate}}</td>
      <td>
        <mat-checkbox [(ngModel)]="algorithm.isSparkChain" (change)="calculateBuild()"></mat-checkbox>
      </td>
    </tr>
    <tr *ngIf="isChaining()">
      <td>{{'calculation.offensive.comboIncrement' | translate}}</td>
      <td>{{result.combosIncrement | number:'1.1-1'}}</td>
    </tr>
    <tr *ngIf="!isChaining()">
      <td>{{'calculation.offensive.comboMultiplier' | translate}}</td>
      <td>
        <mat-checkbox [(ngModel)]="algorithm.withCombo" (change)="calculateBuild()"></mat-checkbox>
        {{result.combosIncrement | number:'1.1-1'}}
      </td>
    </tr>
    <tr>
      <td>{{'calculation.display.hits' | translate}}</td>
      <td>{{result.hitsPower.length}}</td>
    </tr>
    <tr *ngIf="result.lbMultiplier">
      <td>{{'calculation.display.lbMultiplier' | translate}}</td>
      <td>{{result.lbMultiplier | number:'1.2-2'}}</td>
    </tr>
  </table>
  <p><span *ngFor="let hitPower of result.hitsPower">{{hitPower | integer}}% </span></p>
  <h3>{{'calculation.offensive.turnPower' | translate}}</h3>
  <p>{{result.power | integer}}%</p>

  <h3>{{'calculation.display.calculationParameters' | translate}}</h3>
  <table>
    <tr>
      <td>{{'atk' | translate}}</td>
      <td></td>
      <td *ngIf="result.elements && result.elements.length > 0"></td>
      <td>{{result.atk | integer}}</td>
    </tr>
    <tr>
      <td>{{'calculation.display.groupBuff' | translate}}</td>
      <td>
        <mat-checkbox [(ngModel)]="algorithm.isSupportBuffing" (change)="calculateBuild()"></mat-checkbox>
      </td>
      <td *ngIf="result.elements && result.elements.length > 0"></td>
      <td>
        <select [(ngModel)]="algorithm.supportBuff" (change)="calculateBuild()">
          <option value="40">40%</option>
          <option value="60">60%</option>
          <option value="80">80%</option>
          <option value="90">90%</option>
          <option value="100">100%</option>
          <option value="110">110%</option>
          <option value="120">120%</option>
          <option value="130">130%</option>
          <option value="140">140%</option>
          <option value="150">150%</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{{'calculation.display.selfBuff' | translate}}</td>
      <td></td>
      <td *ngIf="result.elements && result.elements.length > 0"></td>
      <td>{{result.self_buff | integer}}%</td>
    </tr>
    <tr>
      <td>{{'calculation.display.buffed_atk' | translate}}</td>
      <td></td>
      <td *ngIf="result.elements && result.elements.length > 0"></td>
      <td>{{result.buffed_atk | integer}}</td>
    </tr>
    <tr>
      <td>{{'calculation.offensive.monsterType' | translate}}</td>
      <td></td>
      <td *ngIf="result.elements && result.elements.length > 0"></td>
      <td>
        <select [(ngModel)]="algorithm.opponentKillerType" (change)="calculateBuild()">
          <option value="unknown">{{'calculation.offensive.monsterTypeUnknown' | translate}}</option>
          <option value="human">{{'human' | translate}}</option>
          <option value="dragon">{{'dragon' | translate}}</option>
          <option value="demon">{{'demon' | translate}}</option>
          <option value="beast">{{'beast' | translate}}</option>
          <option value="machine">{{'machine' | translate}}</option>
          <option value="undead">{{'undead' | translate}}</option>
          <option value="plant">{{'plant' | translate}}</option>
          <option value="bird">{{'bird' | translate}}</option>
          <option value="insect">{{'insect' | translate}}</option>
          <option value="fairy">{{'fairy' | translate}}</option>
          <option value="stone">{{'stone' | translate}}</option>
          <option value="aquatic">{{'aquatic' | translate}}</option>
        </select><br/>
        <select [(ngModel)]="algorithm.opponentKillerType2" (change)="calculateBuild()"
                *ngIf="algorithm.opponentKillerType !== 'unknown'">
          <option value="none">{{'calculation.offensive.monsterTypeNone' | translate}}</option>
          <option value="human" *ngIf="algorithm.opponentKillerType !== 'human'">{{'human' | translate}}</option>
          <option value="dragon" *ngIf="algorithm.opponentKillerType !== 'dragon'">{{'dragon' | translate}}</option>
          <option value="demon" *ngIf="algorithm.opponentKillerType !== 'demon'">{{'demon' | translate}}</option>
          <option value="beast" *ngIf="algorithm.opponentKillerType !== 'beast'">{{'beast' | translate}}</option>
          <option value="machine" *ngIf="algorithm.opponentKillerType !== 'machine'">{{'machine' | translate}}</option>
          <option value="undead" *ngIf="algorithm.opponentKillerType !== 'undead'">{{'undead' | translate}}</option>
          <option value="plant" *ngIf="algorithm.opponentKillerType !== 'plant'">{{'plant' | translate}}</option>
          <option value="bird" *ngIf="algorithm.opponentKillerType !== 'bird'">{{'bird' | translate}}</option>
          <option value="insect" *ngIf="algorithm.opponentKillerType !== 'insect'">{{'insect' | translate}}</option>
          <option value="fairy" *ngIf="algorithm.opponentKillerType !== 'fairy'">{{'fairy' | translate}}</option>
          <option value="stone" *ngIf="algorithm.opponentKillerType !== 'stone'">{{'stone' | translate}}</option>
          <option value="aquatic" *ngIf="algorithm.opponentKillerType !== 'aquatic'">{{'aquatic' | translate}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{{'calculation.display.killer' | translate}}</td>
      <td>
        <mat-checkbox [(ngModel)]="algorithm.isKillerActive" (change)="calculateBuild()"></mat-checkbox>
      </td>
      <td *ngIf="result.elements && result.elements.length > 0"></td>
      <td *ngIf="algorithm.opponentKillerType === 'unknown'">{{result.killerPassive | integer}}%</td>
      <td *ngIf="algorithm.opponentKillerType !== 'unknown'">{{result.killerPassive / 10 | integer}}%</td>
    </tr>
    <tr *ngIf="result.elements && result.elements.length > 0">
      <td>{{'calculation.display.enemyBaseResistances' | translate}}</td>
      <td></td>
      <td>
        <div *ngFor="let element of result.elements" class="resist-icon">
          <img src="assets/resists/resist_{{element}}.png">
        </div>
      </td>
      <td>
        <div *ngFor="let element of result.elements" class="resist-label">
          <select [(ngModel)]="algorithm.opponentResistances[element-1]" (change)="convertEnemyResistAndCalculate()">
            <option value="300">300%</option>
            <option value="200">200%</option>
            <option value="100">100%</option>
            <option value="75">75%</option>
            <option value="50">50%</option>
            <option value="25">25%</option>
            <option value="0">0%</option>
            <option value="-25">-25%</option>
            <option value="-50">-50%</option>
            <option value="-75">-75%</option>
            <option value="-100">-100%</option>
            <option value="-200">-200%</option>
            <option value="-300">-300%</option>
            <option value="-400">-400%</option>
            <option value="-500">-500%</option>
            <option value="-600">-600%</option>
            <option value="-700">-700%</option>
            <option value="-800">-800%</option>
            <option value="-900">-900%</option>
            <option value="-1000">-1000%</option>
          </select>
        </div>
      </td>
    </tr>
    <tr *ngIf="result.elements && result.elements.length > 0">
      <td>{{'calculation.display.groupBreak' | translate}}</td>
      <td>
        <mat-checkbox [(ngModel)]="algorithm.isSupportBreakingResistances" (change)="calculateBuild()"></mat-checkbox>
      </td>
      <td>
        <div *ngFor="let element of result.elements" class="resist-icon">
          <img src="assets/resists/resist_{{element}}.png">
        </div>
      </td>
      <td>
        <div *ngFor="let element of result.elements" class="resist-label">
          <select [(ngModel)]="algorithm.supportResistsBreak[element-1]" (change)="convertSupportBreakAndCalculate()">
            <option value="0">0%</option>
            <option value="-20">-20%</option>
            <option value="-30">-30%</option>
            <option value="-35">-35%</option>
            <option value="-40">-40%</option>
            <option value="-50">-50%</option>
            <option value="-60">-60%</option>
            <option value="-75">-75%</option>
            <option value="-100">-100%</option>
            <option value="-110">-110%</option>
            <option value="-120">-120%</option>
          </select>
        </div>
      </td>
    </tr>
    <tr *ngIf="result.elements && result.elements.length > 0">
      <td>{{'calculation.display.resistances' | translate}}</td>
      <td></td>
      <td>
        <div *ngFor="let element of result.elements" class="resist-icon">
          <img src="assets/resists/resist_{{element}}.png">
        </div>
      </td>
      <td>
        <div *ngFor="let element of result.elements" class="resist-label">
          {{result.resistances[element-1] | integer}}%
        </div>
      </td>
    </tr>
    <tr>
      <td>{{'calculation.display.opponentDef' | translate}}</td>
      <td></td>
      <td *ngIf="result.elements && result.elements.length > 0"></td>
      <td><input [(ngModel)]="algorithm.opponentDef" (blur)="opponentDefChanged()"></td>
    </tr>
    <tr>
      <td>{{'calculation.display.weaponVariance' | translate}}</td>
      <td></td>
      <td *ngIf="result.elements && result.elements.length > 0"></td>
      <td>{{result.averageWeaponVariance}}%</td>
    </tr>
  </table>
  <mat-error *ngIf="opponentDefValueError">{{'calculation.offensive.opponentDefValueError' | translate}}</mat-error>

  <h3>{{'calculation.offensive.baseDamages' | translate}}</h3>
  <p *ngIf="result.isDualWielding">
    ({{result.buffed_atk | integer}}-{{result.leftHandAtk | integer}})*({{result.buffed_atk |
    integer}}-{{result.rightHandAtk | integer}})
    * {{result.power | integer}}% * {{result.levelCorrection | number:'1.1-1'}}
  </p>
  <p *ngIf="!result.isDualWielding">
    {{result.buffed_atk | integer}}² * {{result.power | integer}}% * {{result.levelCorrection | number:'1.1-1'}}
  </p>
  <p>= {{result.physicalDamages | integer}}</p>

  <h3 *ngIf="result.killerPassive">{{'calculation.display.killerDamages' | translate}}</h3>
  <p *ngIf="result.killerPassive">
    {{result.physicalDamages | integer}} * (1+{{result.killerPassive}}%/10)
  </p>
  <p *ngIf="result.killerPassive">= {{result.physicalKillerDamages | integer}}</p>

  <h3 *ngIf="result.averageElementalResistance">{{'calculation.display.elementalResistances' | translate}}</h3>
  <p *ngIf="result.averageElementalResistance">
    {{result.physicalKillerDamages | integer}} * (1-({{result.averageElementalResistance | integer}}%))
  </p>
  <p *ngIf="result.averageElementalResistance">= {{result.physicalElementalDamages | integer}}</p>

  <h3>{{'calculation.display.variances' | translate}}</h3>
  <p>{{result.physicalElementalDamages | integer}} * {{result.averageWeaponVariance}}% * {{result.finalVariance}}% /
    {{algorithm.opponentDef}}</p>
  <p>= <strong>{{result.physicalResult | integer}}</strong></p>
</mat-dialog-content>
