<h1>{{'calculation.defensive.magicalEhpCalculation' | translate}}</h1>
<table>
  <tr>
    <td>{{'hp' | translate}}</td>
    <td></td>
    <td>{{result.hp | integer}}</td>
  </tr>
  <tr>
    <td>{{'spr' | translate}}</td>
    <td></td>
    <td>{{result.spr | integer}}</td>
  </tr>
  <tr>
    <td>{{'calculation.display.supportBuff' | translate}}</td>
    <td>
      <mat-checkbox [(ngModel)]="algorithm.isSupportBuffing" (change)="calculateBuild()"></mat-checkbox>
    </td>
    <td>{{algorithm.supportBuff}}%</td>
  </tr>
  <tr>
    <td>{{'calculation.display.buffed_spr' | translate}}</td>
    <td></td>
    <td>{{result.buffedSpr | integer}}</td>
  </tr>
  <tr>
    <td>{{'calculation.defensive.supportMitigation' | translate}}</td>
    <td>
      <mat-checkbox [(ngModel)]="algorithm.isSupportMitigating" (change)="calculateBuild()"></mat-checkbox>
    </td>
    <td>{{algorithm.supportMitigation}}%</td>
  </tr>
  <tr *ngIf="result.mitigation">
    <td>{{'calculation.defensive.nativeMitigation' | translate}}</td>
    <td></td>
    <td>{{result.mitigation}}%</td>
  </tr>
  <tr *ngIf="result.magicalCover">
    <td>{{'calculation.defensive.cover' | translate}}</td>
    <td>
      <mat-checkbox [(ngModel)]="algorithm.isMagicalCovering" (change)="switchCover()"></mat-checkbox>
    </td>
    <td>{{result.magicalCover}}%</td>
  </tr>
  <tr *ngIf="result.magicalResistance">
    <td>{{'calculation.defensive.magicalResistance' | translate}}</td>
    <td></td>
    <td>{{result.magicalResistance}}%</td>
  </tr>
</table>
<h2>{{'calculation.defensive.magicalEhp' | translate}}</h2>
<p>{{result.hp | integer}} * {{result.buffedSpr}}
  <span *ngIf="result.effectiveMitigation"> / (1-{{result.effectiveMitigation}}%)</span>
  <span *ngIf="result.effectiveMagicalCover"> / (1-{{result.effectiveMagicalCover}}%)</span>
  <span *ngIf="result.magicalResistance"> / (1-{{result.magicalResistance}}%)</span>
</p>
<p>= <strong>{{result.magicalEffectiveHp | integer}}</strong></p>
