<table>
  <tr *ngFor="let turn of result.turnDamages; let i = index">
    <th>{{'calculation.display.turn' | translate}} n+{{i+1}}</th>
    <td *ngIf="turn.physicalResult">{{turn.physicalResult | integer}}</td>
    <td *ngIf="turn.physicalResult">
      <img class="inline-icon" src="assets/icons/grey/question.png" (click)="displayPhysicalDamages(i)">
    </td>
    <td *ngIf="turn.magicalResult">{{turn.magicalResult | integer}}</td>
    <td *ngIf="turn.magicalResult">
      <img class="inline-icon" src="assets/icons/grey/question.png" (click)="displayMagicalDamages(i)">
    </td>
  </tr>
  <tr class="total">
    <th>{{'calculation.offensive.averageDamages' | translate}}</th>
    <td>{{result.result | integer}}</td>
    <td></td>
    <td *ngIf="isWithBothPhysicalAndMagicalDamages()"></td>
    <td *ngIf="isWithBothPhysicalAndMagicalDamages()"></td>
  </tr>
</table>
<p *ngIf="algorithm.opponentDef === 1000000">{{'calculation.offensive.defaultDefSprExplanations' | translate}}</p>
